.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}


.accueil {
  margin-bottom: -10px;
  background-color: turquoise;
  height: 100vh;
}
.connexion {
  background-color: rgb(38, 32, 136);
  height: 100vh;
}
.formation {
  background-color: rgb(46, 122, 87);
  height: 100vh;
}
.projet {
  background-color: rgb(102, 131, 34);
  height: 100vh;
}
.resolution {
  background-color: rgb(131, 46, 98);
  height: 100vh;
}
